<template>
  <nav class="navbar navbar-expand-sm navbar-dark mb-2">
      <div class="container">
        <a href="/" class="navbar-brand">Arrivals and departures</a>
      </div>
  </nav>
</template>
<script>


</script>
