.search_type{
  text-transform: capitalize !important;
}
.flightCard{
  .card-body{
    min-height: 155px;
  }
  .card-footer{
    background-color: #6c757d;
    color: white;
    border-top: 0;

    h3,h4{
      display: inline;
      margin-right: 10px;
    }
  }
}

.navbar{
  background-color: #6c757d;
}
