<template>
    <div class="container mt-5">
        <div class="row justify-content-center">

        </div>
        <div class="row justify-content-center mt-4">
            <div class="col-md-12 text-center">
                <div class="card">
                  <div class="card-body">
                        <div class="row">
                          <div class="col-md-12 text-right">
                            <div class="btn-group mt-3 mb-3" role="group">
                              <button type="button" v-on:click="updateTypeArrivals" :class="{'active': arriavlsIsActive}" class="btn btn-outline-secondary">Arrivals</button>
                              <button type="button" v-on:click="updateTypeDepatures" class="btn btn-outline-secondary" :class="{'active': depaturesIsActive}">Depatures</button>
                            </div>
                          </div>
                            <div class="col-lg-3 mt-3 mb-3">
                              <input class="form-control form-control-lg" type="text" v-model="city" placeholder="City, Country..">
                            </div>
                            <div class="col-lg-3 mt-3 mb-3">
                                <input class="form-control form-control-lg" v-model="date" type="date" placeholder="Date">
                            </div>
                            <div class="col-lg-3 mt-3 mb-3">
                              <select class="form-control form-control-lg" placeholder="Time" v-model="time" id="select" value="00">
                                <option selected="">00:00</option>
                                <option v-for="i in (1, 23)" :value="i">{{i}}:00</option>
                              </select>
                            </div>
                            <div class="col-lg-3 mt-3 mb-3">
                              <input class="form-control form-control-lg btn-success" type="submit" value="Search" v-on:click="updateSearch">
                            </div>
                        </div>
                  </div>
                </div>
            </div>
        </div>
        <div class="row mt-4">
          <div class="col-md-12">
            <div class="card">
              <div class="card-body">
                <h1 class="search_type">{{ type }} <span v-if="flights"> ({{flights.length}})</span></h1>
              </div>
            </div>
          </div>
        </div>

        <div class="row justify-content-center ">
          <div class="col-md-12 col-md-12 text-center"  v-if="isLoading">
                <i class="fas fa-spinner fa-spin fa-4x"></i>
          </div>
        </div>
        <div class="row">



          <div class="col-lg-6" v-for="flight in flights" v-show="!isLoading">
            <div class="card mt-4 flightCard">
              <div class="card-body">
                <h2>{{ flight.destination }} </h2><h3>{{ flight.time }}</h3>
              </div>
              <div class="card-footer">
                  <h4 class="text-left">Tid: {{ flight.time }}</h4><h4 class="text-right">Terminal: {{ flight.terminal }}</h4>
              </div>
            </div>
          </div>
        </div>
    </div>
</template>

<script>
  export default{
    data () {
      return {

        arriavlsIsActive: true,
        depaturesIsActive: false,

        flights: [],
        isLoading: false,

        // Search parameters
        type: 'arrivals',
        city: '',
        time: 0,
        query: '',
        date: ''
      }
    },
    mounted(){
      this.fetch();
    },
    methods: {
      fetch(){

        let search;

        if(this.query){
          search = '/api/'+this.type+this.query;
        }else{
          search = '/api/'+this.type;
        }

        this.isLoading = true;

        fetch(search)
        .then(res => res.json())
        .then(res => {
            this.isLoading = false;
            this.flights = res;
        });

      },
      updateTypeArrivals(event){
        this.type = 'arrivals';
        this.arriavlsIsActive = true;
        this.depaturesIsActive = false;
        this.fetch();
      },
      updateTypeDepatures(event){
        this.type = 'depatures';
        this.arriavlsIsActive = false;
        this.depaturesIsActive = true;
        this.fetch();
      },
      updateSearch(){
        let query = '';
        if(this.city){
            query += '/city/'+this.city;
        }
        if(this.date){
            query += '/date/'+this.date;
        }
        if(this.time){
            query += '/time/'+this.time;
        }else{
            query +='/time/00'
        }
        this.query = query;
        this.fetch();
      },
    }
  }
</script>
